body {
  background-image: url("img/img2.jpg");
  background-size: 20%;
  background-blend-mode: overlay;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(39, 19, 70);
  animation: animatedBackground 50s ease infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  20% {
    background-position: 100px 0px;
  }

  40% {
    background-position: 0px 100px;
  }

  100% {
    background-position: 100px 0px;
  }
}

.func-color {
  background: linear-gradient(
    3deg,
    rgb(23, 20, 78) 0%,
    rgb(7, 207, 218) 58%,
    rgba(0, 255, 244, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.func {
  padding-left: 20%;
  font-weight: bolder;
  font-size: 170%;
}

.parametro {
  font-size: 90%;
  font-weight: lighter;
  font-style: italic;
}

.func-output {
  font-weight: 700;
  font-size: 150%;
  padding-left: 30%;
  margin: 0%;
}

i {
  margin-bottom: 2%;
  font-size: xx-large;
  display: flex;
}

.progm-name {
  font-family: "Open Sans", sans-serif;
  font-size: 55%;

  padding-left: 2%;
}

a :not(#outputP2,#outputP1){
  color: white;
  font-size: 120%;
  font-weight: 900;
}
a:hover {
  color: rgb(12, 143, 150);
}

/* ---------------- Menubar ---------------- */

/* menu */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0);
  color: white;
}

.brand-title {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  margin: 0.5rem;
}

#logo {
  width: 25%;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  font-size: 120%;
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  border-radius: 2%;
  background-color: rgba(22, 221, 221, 0.137);
}

.toggle-button {
  position: absolute;
  top: 0.85rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: left;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* ---------------- Apresentação ---------------- */
#hand {
  font-size: x-large;
}

#funcA-output1 {
  font-size: 150%;
}
#funcA-output2 {
  padding-bottom: 1%;
  font-size: 120%;
}
#hand {
  animation-timing-function: ease;
  animation-name: hand;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: s;
  transform-origin: 70% 70%;
  display: inline-block;
}

/* ---------------- Recursos ---------------- */
#funcRd {
  margin-top: 0px;
}

#funcRp {
  margin-top: 0px;
}

/* ---------------- Projetos ---------------- */

.dots {
  background: linear-gradient(
    3deg,
    rgb(23, 20, 78) 0%,
    rgb(7, 207, 218) 58%,
    rgba(0, 255, 244, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#outputP2,
#outputP1 {
  
  word-wrap: break-word;
  color: rgba(239, 249, 250, 0.89);
  background-color: rgba(36, 181, 207, 0.014);
  border-radius: 2%;
  margin-left: 30%;
  padding: 0;
  padding-right: 5%;
  padding-left: 1%;
  width: 20%;
  height: 100px;
  line-height: 100px;
  margin-bottom: 1%;
}

#outputP2:hover,
#outputP1:hover {
  background-color: rgba(36, 181, 207, 0.438);
}
#link1,
#link2 {
  word-wrap: break-word;
  text-decoration: none;
  color: rgba(239, 249, 250, 0.89);
}

/* ---------------- Mobile ---------------- */

@media (max-width: 600px) {
  body {
    background-color: rgb(32, 25, 43);
    background-size: 50%;
    animation: animatedBackground 20s ease infinite;
  }

  #byslogo {
    width: 25%;
    padding: 10px;
  }

  #outputP2,
  #outputP1 {
    margin-bottom: 10%;
  }

  .func {
    padding-left: 4%;
  }

  .func-output {
    padding-left: 12%;
  }

  #funcA-output1 {
    font-size: 150%;
  }
  #funcA-output2 {
    font-size: 110%;
    padding-bottom: 5%;
  }

  i {
    margin-bottom: 4%;
    font-size: 150%;
    display: flex;
  }

  .progm-name {
    font-size: 50%;
    font-family: sans-serif;

    padding-left: 2%;
    padding-top: 4%;
  }
  #outputP1 {
    margin-bottom: 5%;
    width: 250px;
    margin-left: 12%;
  }
  #outputP2 {
    width: 250px;
    margin-left: 12%;
  }
}

/* ---------------- Animação ---------------- */

@keyframes hand {
  0% {
    transform: rotate(0deg);
    font-size: 150%;
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-output {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-funcs {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
