body {
  font-family: "Open Sans", sans-serif;
  color: rgb(248, 252, 252);
  background-color: rgb(27, 22, 27);
}

.func-color {
  background: linear-gradient(
    3deg,
    rgb(23, 20, 78) 0%,
    rgb(7, 207, 218) 58%,
    rgba(0, 255, 244, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.func {
  padding-left: 20%;
  font-weight: bolder;
  font-size: 170%;
}

.parametro {
  font-size: 90%;
  font-weight: lighter;
  font-style: italic;
}

.func-output {font-weight: 700;
  font-size: 150%;
  padding-left: 30%;
  margin: 0%;
}

i {
  margin-bottom: 2%;
  font-size: xx-large;
  display: flex;
}

.progm-name {
  font-family: "Open Sans", sans-serif;
  font-size: 55%;

  padding-left: 2%;
}

/* ---------------- Menubar ---------------- */
.menubar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(26, 21, 26);
}

#byslogo {
  width: 50%;
  padding: 10px;
}
#options {
  font-size: medium;
  text-align: right;
}

a {
  color: rgb(248, 252, 252);
  text-decoration: none;
}

/* ---------------- Apresentação ---------------- */
#hand {
  font-size: x-large;
}

#funcA-output1 {
  font-size: 150%;
}
#funcA-output2 {padding-bottom: 1%;
  font-size: 120%;
}
#hand {
  animation-timing-function: ease;
  animation-name: hand;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: s;
  transform-origin: 70% 70%;
  display: inline-block;
}

/* ---------------- Recursos ---------------- */
#funcRd {
  margin-top: 0px;
}

#funcRp {
  margin-top: 0px;
}
/* ---------------- Mobile ---------------- */

@media (max-width: 600px) {
  #byslogo {
    text-align: center;
    width: 20%;
    padding: 10px;
  }

  .func {
    padding-left: 4%;
  }

  .func-output {
    padding-left: 12%;
  }

  #funcA-output1 {
    font-size: 150%;
  }
  #funcA-output2 {
    font-size: 110%;
    padding-bottom: 2%;
  }

  i {
    margin-bottom: 4%;
    font-size: 150%;
    display: flex;
  }

  .progm-name {
    font-size: 50%;
    font-family: sans-serif;

    padding-left: 2%;
    padding-top: 4%;
  }
}

/* ---------------- Animação ---------------- */

@keyframes hand {
  0% {
    transform: rotate(0deg);
    font-size: 150%;
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-output {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-funcs {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
