body {
  font-family: "Open Sans", sans-serif;
  color: rgb(248, 252, 252);
  font-weight: 700;
  background-color: rgb(27, 22, 27);
}
.design {
  margin: auto;
  padding-left: 10%;
  padding-bottom: 5%;
  font-size: 320%;
}

.boxes {
  object-fit: contain;
  margin: auto;
  width: 450px;
}

.boxes img {
  border-radius: 2%;
  width: 100%;
  height: 100%;
}

.S0 {
  object-fit: contain;
}
.S1 {
  object-fit: cover;

}
.S2 {
  object-fit: cover;
}
.S3 {
  object-fit: cover;
}
.S4 {
  object-fit: cover;
}
.S5 {
  object-fit: cover;
}
.S1 {
  object-fit: cover;
}

.box {
  position: relative;
  margin: auto;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

button {
  background-color: #0fd4f71f; /* Green */
  border: none;
  color: white;
  border-radius: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}

.bs {
  display: flex;
  justify-content: space-between;
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.info {
  margin-bottom: 50px;
  width: 80%;
  word-wrap: break-word;
  padding-left: 10%;
  color: aliceblue;
}

/* ---------------- Menubar ---------------- */
.menubar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(26, 21, 26);
}

#byslogo {
  width: 50%;
  padding: 10px;
}
#options {
  font-size: medium;
  text-align: right;
}

a {
  color: rgb(248, 252, 252);
  text-decoration: none;
}

/* ---------------- Mobile ---------------- */

@media (max-width: 600px) {
  #byslogo {
    text-align: center;
    width: 20%;
    padding: 10px;
  }

  .func {
    padding-left: 4%;
  }

  .func-output {
    padding-left: 12%;
  }

  #funcA-output1 {
    font-size: 150%;
  }
  #funcA-output2 {
    font-size: 110%;
    padding-bottom: 2%;
  }

  i {
    margin-bottom: 4%;
    font-size: 150%;
    display: flex;
  }

  .progm-name {
    font-size: 50%;
    font-family: sans-serif;

    padding-left: 2%;
    padding-top: 4%;
  }
}
